<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- appender 的配置表示打印到控制台。 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为 PatternLayoutEncoder -->
        <encoder>
            <pattern>
                %-80(%red(%d{HH:mm:ss.SSS}) %green([%thread])) %highlight(%-5level) %boldMagenta(%-40.40class{40}) - %cyan(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>